.address {
  font-family: Raleway, sans-serif;
  font-style: normal;
}

.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  place-items: center;
  margin: 92px 24px 92px;
  font-size: 18px;
}

.header__menu {
  justify-self: start;
  margin-left: 26px;
}

.header__links-list {
  display: flex;
  justify-content: space-between;
  list-style-position: inside;
  list-style-type: circle;
}

.header__links-list-item {
  padding-left: 11px;
}

.header__link_active {
  list-style-type: none;
  padding-left: 0;
}

.header__link_active a {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
}

.header__logo-image {
  height: 105px;
  vertical-align: top;  
}

.header__address {
  justify-self: end;
  padding-right: 38px;
  margin-right: 26px;
  line-height: 1.3;
}
